.btn__close-box #{`!{btnClose}`}
.nav-userdata 
    img.menu-avatar(src='' alt='User avatar')
    h2.title__displayname #{'#{displayName}'}
ul.menu-list
    li.menu-item #{`!{btnProfile}`}
    li.menu-item #{`!{btnNewChat}`}
    li.menu-item #{`!{btnChangeAvatar}`}
    li.menu-item #{`!{btnChangePassword}`}
    li.menu-item #{`!{btnLogout}`}


