img.avatar(src='' alt='User avatar')
- const display = `#{displayName}`
if (display == false)
    h2.title__displayname= display 
else 
    h2.title__displayname #{'#{firstName}'}
.userdata
    p.profile__subtitle E-mail  
    p #{'#{email}'}
    p.profile__subtitle Login  
    p #{'#{login}'}
    p.profile__subtitle Name  
    p #{'#{firstName}'}
    p.profile__subtitle Last name  
    p #{'#{secondName}'} 
    p.profile__subtitle Display name 
    if (display == false) 
        p= display
    else
        p #{'#{firstName}'}
    p.profile__subtitle Phone  
    p #{'#{phone}'}
.form__btns #{`!{buttonMain}`} #{`!{buttonSecondary}`}
