.btn__close-box !{buttonClose}
h3.form__title-s #{title}
form.form__inputs.form-modal(name=`${formName}`) !{input}
    p.unvalid-text.unvalid.hidden.modal-error #{errorText}
    .form__btns !{buttonMain}
