h2.form__title #{'#{title}'}
form.form__inputs #{`!{inputEmail}`} #{`!{inputLogin}`} #{`!{inputFirstName}`} #{`!{inputSecondName}`} #{`!{inputPhone}`} #{`!{inputPassword}`} #{`!{inputPassword}`}
    .form__btns #{`!{buttonMain}`} #{`!{buttonSecondary}`}