h2.form__title-large #{'#{title}'}
form.flex-center.form__content-large.mb-s #{`!{inputEmail}`} #{`!{inputLogin}`} #{`!{inputFirstName}`} #{`!{inputSecondName}`} #{`!{inputPhone}`} 
    .form__btns.flex-form #{`!{buttonMain}`} #{`!{buttonSecondary}`}