nav.nav__chat-view 
    .nav__user 
        img(src=`/${avatar}`)
        h3.nav__user-displayname #{displayName}
    div  !{buttonMore}
.chat-view 
.send-msg-block !{buttonFile} !{input} !{buttonSend}
